/*reset*/

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-size: 14px;
	font-family: 'PT Sans Narrow', sans-serif;
}

a{
	text-decoration: none;
	color: #8ab0b6;
}

a:visited {
	color: #547f86;
}

a:hover {
	color: #b4ccd0;
}

a:active {
	color: #f3f4ed;
}


/*außerhalb vom wrapper*/

html{

}
body{
	background-color: #eeeeee;
}


/*Aufteilung index---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#wrapper {
	width: 900px;
	margin: 10px auto;
	background-color: #ffffff;
	box-shadow: 0px 0px 100px grey;
}

#top {
	background-color: #f3f4ed;
	width: 100%;
	
	overflow: hidden;
	border-bottom: 1px #eeeeee solid;
}



#logo {
	margin: 20px 0 10px 10px;
	float: left;
}

#logo img{ height: 120px;}

#top-right{
	float:right;
}

#watch{
	margin: 5px 5px 0 0px;	
}

#social-media{
	margin: 70px 10px 0 0;
	padding: 5px;
	float:right;
}
#social-media p {color: #000000; font-size: 12px; display: inline;}
#social-media img {width: 24px; height: 24px; margin: 1px;}
#social-media ul li {display: inline; }
#social-media ul{ list-style-type:none; margin: 0; padding: 0;}

#watch, #social-media{

}

#topnav nav {
	clear: both;
	background-color: #8ab0b6;
	font-size: 16px;
}
#topnav nav ul{margin: 0; padding: 10px 25px 10px 25px; border-bottom: 3px #cccccc solid;}
#topnav nav li{display:inline;}
#topnav nav li a{color: #ffffff; padding: 10px 25px 10px 25px;}
#topnav a:hover {color: #ffffff; background-color: #547f86;}

#content {
	float: left;
	margin: 0 20px 0 20px;
	width: 650px;
	background-color: #ffffff;
}
#content h1{margin: 0px; font-size: 45px; border-bottom: 1px #777777 solid; padding: 20px 0; font-weight: normal;}

#newsdiv{
	/*noch leer*/
}

div.news  {
	font-size: 24px;
	color: #000000;
	padding: 15px 8px;
	margin: 0px;
	border-bottom: 1px solid #000000;
}
div.news h2 {font-size: 28px; color:#000000; font-weight: normal; margin-top: 10px; margin-bottom: 10px;}

#indexdate {
	text-align: right;
	margin: 0px;
	font-size: 14px;
}

#preview {
	font-size: 16px;
}

#indexsmileyarea {
	margin: 10px 0 10px 0;
}

#indexsmileyarea span {margin-right: 10px}

.preview_image {
	width: 28px;
}

.more_button {
    background: none repeat scroll 0 0 #FFFFFF;
    /*border: 1px solid #000000;*/
    border-radius: 5px;
	background-color: #8ab0b6;
	color: #ffffff;
    height: auto;
    line-height: 32px;
    text-align: center;
    text-transform: none;
    font-size: 16px;
}
.more_button:hover{background-color: #547f86;}


#rightside{
	padding: 20px;
	margin-left: 675px;
}
#rightside iframe {width: 196px; height: 110px; margin-bottom: 20px;}

#footer {
	clear:both;
	background-color: #f3f4ed;
	padding: 5px 0;
	font-size: 14px;
}
#footer nav ul li   {float: left; color: #547f86; display:inline; }
#footer nav li a{color: #547f86; margin-right: 10px;}

#footer p {margin-left: 700px; color: #333333; }
footer nav p {display:inline;}







/*Aufteilung news------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#article {
	width: 100%;
}
#article h1{font-size: 32px; margin: 20px 20px 5px 20px; border-bottom: 1px #777777 solid; font-weight: normal;}

#date{
	margin: 0 20px 30px 20px;
	text-align: right;
}

#textcontent{ 
font-size: 16px;
margin: 20px;
line-height: 150%;
}

#frage {
	font-size: 24px;
	margin: 20px 20px 0px 20px;
}

#smileyarea{
	margin-bottom: 20px;
}


form.smiley {
	text-align: center;
	float: left;
	margin: 15px 25px 15px 25px;
}

.vote_image {
	width: 52px;
}

.counter {
	margin-left: 15px;
	font-size: 40px;
}

.smileyunterschrift {
	font-size: 20px;
}

hr {
	clear: both;
	margin: 10px;
	color: #8ab0b6;
}

#commentarea{
	clear: both;
	margin: 20px;
}

#commentarea h2 {
	font-weight: normal;
	font-size: 32px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.comment{
	font-size: 16px;
	padding: 0 20px 0 20px;
	margin: 30px 20px 30px 20px;
}

.comment b {
	color: #547f86;
	max-width: 50%;
}

#commenttext {
	margin: 10px;
}

#commentform {
	margin: 20px 0 20px 0;
}

#commentform td {font-size: 16px; vertical-align: top;}



.button {
	padding: 8px 13px 8px 13px;
	margin-left: 75px;
	background-color: #8ab0b6;
	font-family:'PT Sans Narrow', sans-serif;
	font-size: 16px;
	color: #ffffff;
	border: 0px;
}
.button:hover{background-color: #547f86;}

/*Footer-Seiten-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#textarea {
	padding: 20px;
	font-size: 16px;
}

#textarea img {
	display: block;
    margin-left: auto;
    margin-right: auto
}

#bam {
	width: 170px;
}

/*More Content-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.all_loaded {
	font-size: 24px;
	color: #000000;
	padding: 15px 8px;
	margin: 0px;
}

/* Kanalradar-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#radar{
	width: 100%;
}
.kanalprofil{
	margin: 10px;
	border: 1px solid #000000;
}

#left{
float:left;
width:300px;
}

#kanalpic p img{
height: 100px;

margin: 5px 15px 5px 5px;
}


#kanaltext{
	height: 100px;

	margin: 5px;
	}
#kanaltext h1 p{margin-left:5px;}




